<h1 class= "display-5 text-center" >All Our Contacts</h1>

<%= pagy_bootstrap_nav(@pagy).html_safe %>
<%= render 'contacts/contact_table', {contacts: @contacts}%>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
