<div class="col">
	<div class="card border-success mb-3 m-3" style="width: 18rem;">
		<div class="card-header bg-transparent border-success">Filename: <%= csv_file.csv_file.filename %></div>
		<div class="card-body text-success">
			<h5 class="card-title">State: <%= csv_file.state %></h5>
      <p class="card-text">Download: <%= link_to csv_file.csv_file.filename, rails_blob_path(csv_file.csv_file, disposition: 'attachment') %></p>
		</div>
		<div class="card-footer bg-transparent border-success">Uploaded: <%= time_ago_in_words(csv_file.created_at) %> ago </div>
	</div>
</div>
